#google_translate_element,.goog-te-banner-frame.skiptranslate,.goog-tooltip,.goog-tooltip:hover{display: none !important;}
body {top: 0 !important;}
.goog-text-highlight {background-color: transparent !important;border: none !important; box-shadow: none !important;}
